<div class="filters mt-3 mb-3">
    <form id="filterForm" action="/filter" method="POST" class="filterForm">
        <label class="filter">
            <input type="radio" name="filter" value="Trending" onchange="this.form.submit()">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Rooms" onchange="this.form.submit()">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Iconic City" onchange="this.form.submit()">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic City</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Mountains" onchange="this.form.submit()">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountains</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Castles" onchange="this.form.submit()">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Pools" onchange="this.form.submit()">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Pools</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Camping" onchange="this.form.submit()">
            <i class="fa-solid fa-tents"></i>
            <p>Camping</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Farms" onchange="this.form.submit()">
            <i class="fa-solid fa-cow"></i>
            <p>Farms</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Arctic" onchange="this.form.submit()">
            <i class="fa-regular fa-snowflake"></i>
            <p>Arctic</p>
        </label>
        <label class="filter">
            <input type="radio" name="filter" value="Ships" onchange="this.form.submit()">
            <i class="fa-solid fa-ship"></i>
            <p>Ships</p>
        </label>          
    </form>
</div>