<footer class="border-top mt-3">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            &nbsp;&nbsp;
            <i class="fa-brands fa-square-instagram"></i>
            &nbsp;&nbsp;
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div> &copy; WanderLust Private Ltd.</div>
        <div class="f-info-links">
            <a href="/privecy">Privacy</a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="/terms"> T&C</a>
        </div>
    </div>
</footer>